AccountService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="AccountService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/tuto/wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dataType="http://localhost/tuto/types" targetNamespace="http://localhost/tuto/wsdl">

<wsdl:types>
	<xsd:schema>
		<xsd:import namespace="http://localhost/tuto/types"
			schemaLocation="types.xsd" />
	</xsd:schema>
</wsdl:types>

<wsdl:message name="registerRequestMessage">
	<wsdl:part element="dataType:registerRequest" name="registerRequestMessagePart" />
</wsdl:message>

<wsdl:message name="registerResponseMessage">
	<wsdl:part element="dataType:registerResponse" name="registerResponseMessagePart" />
</wsdl:message>

<wsdl:message name="allRequestMessage">
	<wsdl:part element="dataType:allRequest" name="allRequestMessagePart" />
</wsdl:message>

<wsdl:message name="allResponseMessage">
	<wsdl:part element="dataType:allResponse" name="allResponseMessagePart" />
</wsdl:message>

<wsdl:message name="oneByIdRequestMessage">
	<wsdl:part element="dataType:oneByIdRequest" name="oneByIdRequestMessagePart" />
</wsdl:message>

<wsdl:message name="oneByIdResponseMessage">
	<wsdl:part element="dataType:oneByIdResponse" name="oneByIdResponseMessagePart" />
</wsdl:message>

<wsdl:message name="soapComponentErrorMessage">
	<wsdl:part element="dataType:soapComponentError" name="soapComponentErrorMessagePart" />
</wsdl:message>

<wsdl:portType name="accountPortType">
	<wsdl:operation name="registerPortTypeOperation">
		<wsdl:input message="tns:registerRequestMessage" />
		<wsdl:output message="tns:registerResponseMessage" />
		<wsdl:fault name="registerPortTypeOperationFault" message="tns:soapComponentErrorMessage" />
	</wsdl:operation>
	<wsdl:operation name="allPortTypeOperation">
		<wsdl:input message="tns:allRequestMessage" />
		<wsdl:output message="tns:allResponseMessage" />
		<wsdl:fault name="allPortTypeOperationFault" message="tns:soapComponentErrorMessage" />
	</wsdl:operation>
	<wsdl:operation name="oneByIdPortTypeOperation">
		<wsdl:input message="tns:oneByIdRequestMessage" />
		<wsdl:output message="tns:oneByIdResponseMessage" />
		<wsdl:fault name="oneByIdPortTypeOperationFault" message="tns:soapComponentErrorMessage" />
	</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="accountBinding" type="tns:accountPortType">
	<soap:binding style="document"
		transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="registerPortTypeOperation">
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
		<wsdl:fault name="registerPortTypeOperationFault">
			<soap:fault name="registerSOAPFault" use="literal" />
		</wsdl:fault>
	</wsdl:operation>
	<wsdl:operation name="allPortTypeOperation">
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
		<wsdl:fault name="allPortTypeOperationFault">
			<soap:fault name="allSOAPFault" use="literal" />
		</wsdl:fault>
	</wsdl:operation>
	<wsdl:operation name="oneByIdPortTypeOperation">
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
		<wsdl:fault name="oneByIdPortTypeOperationFault">
			<soap:fault name="oneByIdSOAPFault" use="literal" />
		</wsdl:fault>
	</wsdl:operation>
</wsdl:binding>

<wsdl:service name="accountService">
	<wsdl:port name="accountPort" binding="tns:accountBinding">
		<soap:address location="http://localhost:9091/services/wsdl/register" />
	</wsdl:port>
</wsdl:service>
</wsdl:definitions>
